<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ordersystem.mapper.CategoryMapper">
    <select id="getAllCategory" resultType="com.ordersystem.entity.Category">
        select cid,description from category_
    </select>
</mapper>