<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ordersystem.mapper.ProductMapper">
    <insert id="addProduct" parameterType="com.ordersystem.entity.Product">
        insert into product_ (cid,pname,state,price,picture,mount) values (#{cid},#{pname},#{state},#{price},#{picture},#{mount})
    </insert>

    <select id="showAllProduct" resultMap="resultProduct" parameterType="com.ordersystem.entity.Product">
        select pid,pname,state,picture,product_.cid,description,price,mount from product_ join category_ on product_.cid=category_.cid order by pid
    </select>

    <select id="toUpdate" resultMap="resultProduct" parameterType="com.ordersystem.entity.Product">
        select pid,pname,state,picture,product_.cid,description,price,mount from product_ join category_ on product_.cid=category_.cid where pid=#{pid}
    </select>

    <update id="updateProduct" parameterType="com.ordersystem.entity.Product">
        update product_ set pname=#{pname},price=#{price},mount=#{mount}
        <if test="picture!=null">
            ,picture=#{picture}
        </if>
        where pid=#{pid}
    </update>

    <update id="putOnShelves" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update product_
            <set>
                state=1
            </set>
            where pid = ${item}
        </foreach>
    </update>

    <update id="pullOffShelves" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update product_
            <set>
                state=0
            </set>
            where pid = ${item}
        </foreach>
    </update>

    <select id="searchProduct" resultMap="resultProduct" parameterType="com.ordersystem.entity.Product" >
        select pid,pname,state,picture,product_.cid,description,price,mount from product_ join category_ on product_.cid=category_.cid where pname like Concat('%',#{pname},'%')
        <!--<if test="state != null and state != '' or state==0">and state=0</if>-->
        <if test="state==0">and state=0</if>
        <if test="state==1">and state=1</if>
        order by pid
    </select>

    <select id="detailProduct"  resultMap="resultProduct" parameterType="int">
                select pid,pname,state,picture,product_.cid,description,price,mount from product_ join category_ on product_.cid=category_.cid where pid=#{pid}
    </select>

    <delete id="deleteProduct" parameterType="int">
        delete from product_ where pid=#{pid}
    </delete>

    <resultMap type="com.ordersystem.entity.Product" id="resultProduct">
        <id property="pid" column="pid" />
        <result property="pname" column="pname"/>
        <result property="mount" column="mount"/>
        <result property="price" column="price"/>
        <result property="state" column="state"/>
        <result property="picture" column="picture"/>
        <association property="category" javaType="Category">
            <id property="cid" column="cid"/>
            <result property="description" column="description"/>
        </association>
    </resultMap>
</mapper>