<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:lang="http://www.springframework.org/schema/lang"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/lang
        http://www.springframework.org/schema/lang/spring-lang.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:annotation-config />

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName">
            <value>com.mysql.jdbc.Driver</value>
        </property>
        <property name="url">
            <value>jdbc:mysql://localhost:3306/ordersystem?characterEncoding=UTF-8</value>
        </property>
        <property name="username">
            <value>root</value>
        </property>
        <property name="password">
            <value>admin</value>
        </property>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="typeAliasesPackage" value="com.ordersystem.entity" />
        <property name="dataSource" ref="dataSource" />
        <property name="mapperLocations" value="classpath*:mappers/*.xml" />
        <property name="plugins">
            <array>
                <bean class="com.github.pagehelper.PageInterceptor">
                    <property name="properties">
                        <value>params=value1</value>
                    </property>
                </bean>
            </array>
        </property>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.ordersystem.mapper" />
    </bean>

    <bean id="userService" class="com.ordersystem.service.impl.UserServiceImpl">
        <property name="userMapper" ref="userMapper" />
    </bean>

    <bean name="userActionBean" class="com.ordersystem.action.UserAction" >
        <property name="userService" ref="userService" />
    </bean>

    <bean id="productService" class="com.ordersystem.service.impl.ProductServiceImpl">
        <property name="productMapper" ref="productMapper" />
    </bean>

    <bean name="productActionBean" class="com.ordersystem.action.ProductAction">
        <property name="productService" ref="productService" />
    </bean>

    <bean id="categoryService" class="com.ordersystem.service.impl.CategoryServiceImpl">
        <property name="categoryMapper" ref="categoryMapper" />
    </bean>

    <bean name="categoryActionBean" class="com.ordersystem.action.CategoryAction">
        <property name="categoryService" ref="categoryService" />
    </bean>
</beans>